@media (max-width: 720px) {
    .sop {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .wrap {
        flex-direction: column;
    }

    .rama {
        flex-direction: column;
    }

    .photo_printf img {
        max-width: 400px;
    }
}

@media (max-width: 1160px) {
    .spin {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .oplata_secruriti {
        flex-direction: column;
    }

    .zapis_11 {
        max-width: 300px;
    }
}
